:root {
  /* --primary: #f6e6d5; */
  --primary: rgb(246, 230, 213);

  /* --secondary: #542c00; */
  --secondary: rgb(84, 44, 0);

  /* --tertiary: #ffcf99; */
  --tertiary: rgb(255, 207, 153);

  /* --success: #9cff99; */
  --success: rgb(156, 255, 153);

  /* --danger: #ff99bb; */
  --danger: rgb(255, 153, 187);

  /* --warning: #997c5c; */
  --warning: rgb(153, 124, 92);

  /* --info: #daf1ff; */
  --info: rgb(218, 241, 255);

  /* --light: #f4eadf; */
  --light: rgb(244, 234, 223);

  /* --lighter: #f9f4ef; */
  --lighter: rgb(249, 244, 239);

  /* --dark: #2b1700; */
  --dark: rgb(43, 23, 0);

  /* --darker: #0000; */
  --darker: rgb(0, 0, 0);
}

@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
  font-weight: 400 700;
  font-style: normal;
}
